<div class="app-container">
    <nav class="navbar" *ngIf="isLoggedIn">
        <div class="nav-brand">图书管理系统</div>
        <button class="nav-button" (click)="logout()">退出</button>
    </nav>
     <nav class="navbar" *ngIf="!isLoggedIn">
        <div class="nav-brand">图书管理系统</div>
    </nav>
    <router-outlet></router-outlet>
    <h1 class="testHeaderText">{{headerText}}</h1>
    <!-- an example of forward the value from caller to selector attribute tableTitle -->
    <!-- tableTitle is an input property in RandomTableComponent, headerInputText is a local variable from AppComponent -->
    <!-- newData is an output property (event emitter) in RandomTableComponent, handleNewData is a local function from AppComponent -->
    <app-random-table [tableTitle]="headerInputText" (newData)="handleNewData($event)"></app-random-table>
</div>